<!--The content below is only a placeholder and can be replaced.-->
<!-- <h2>
  {{events.live.0.id}}
</h2> -->
<h2>Angular api</h2>
<!-- <div>
  <ng-container *ngFor = let pay of payment_options>
 <h2> {{pay.paymentoption_id }}</h2>
 <h2>{{pay.paymentoption_name}}</h2>
</ng-container>
</div> -->

<div *ngFor = " let pay of payment_options">
    <h2> {{pay.paymentoption_id }}</h2>
    <h2>{{pay.paymentoption_name}}</h2>
</div>

<div *ngFor = "let t of tickettypes" >
  <h2>{{t.tickettype_avail_quantity}}</h2>
  <h2>{{t.tickettype_id}}</h2>
  <h2>{{t.tickettype_max_limt}}</h2>
  <h2>{{t.tickettype_min_limit}}</h2>
 <h2>{{t.tickettype_name}} </h2>
  <h2>{{t.tickettype_onsale}}</h2>
  <h2>{{t.tickettype_price}}</h2>

</div>
<app-checkout-prepare>

</app-checkout-prepare>